
    .block {
      display: block;
      width: 18%;
      border: none;
      color: rgb(14, 13, 13);
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
    }
    
    .block:hover {
      background-color: rgb(227, 228, 233);
      
      color: black;
    }
    table {
      border-collapse: collapse;
      border-spacing: 1;
      width: 80%;
      border: 2px solid #ddd;
    }
    
    th, td {
      text-align: left;
      padding: 16px;
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    
  